
input[id*="accordion"] {
    display: none;
}

input[id*="accordion"] + label {
    display: block;
    position: relative;
    cursor: pointer;
    
}

input[id*="accordion"] + label em {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
}

input[id*="accordion"] + label + div {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-out;

}

input[id*="accordion"]:checked + label + div {
    grid-template-rows: 1fr;
    overflow: auto;
}

input[id*="accordion"]:checked + label em {
    transform: scaleY(-1);
    transition: all 0.5s ease-out;
}
.arrodion {
    width: 100%;
}

/* select */



.scroll-bar {
    overflow-y: auto;
    overflow-x: hidden;

}

/* 스크롤바의 폭 너비 */
.scroll-bar::-webkit-scrollbar {
    width: 8px;  
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: var(--main-black); 
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scroll-bar::-webkit-scrollbar-track {
    background: var(--light-gray)  /*스크롤바 뒷 배경 색상*/
}